
<!doctype html>
<html lang=ru>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Сертификат</title>
    <style>
        grandparent {
            display: flex;
            flex-direction: column;
            background: url(https://github.com/yodo-im/python_pizza/blob/main/fon/fon.jpg?raw=true);
        }
        body {
            margin: 0px;
        }
        body {
        margin: 0px;
        width: 1010px;
        margin-left: auto;
        margin-right: auto;
        }

        h1, text {
            color: white;
        }
    </style>
</head>
<body>
    <grandparent>
        <parents>
            {% include 'mainapp/headers.html' %}
        </parents>

        <parents>
            {% block solid %}{% endblock %}
        </parents>

        <parents>
            {% include 'mainapp/footer.html' %}
        </parents>
    </grandparent>
</body>
</html>