<div>
    <style>
        parent {
            display: flex;
            flex-direction: row;
            height: 100px;
            align-items: center;
        }
        child {
            padding: 10px;
            margin 10px;
            flex: 33;
        }
    </style>
    <parent>
        <child>
            <text>
                Sertification | 2021
            </text>
        </child>
        <child>
            {% include 'mainapp/messegers.html' %}
        </child>
        <child align="right">
            <text>
                Тел.: 8-926-xxx-xx-xx
            </text>
        </child>
    </parent>
</div>