<!--<div>-->
<!--    <h1>-->
<!--        Сертификаты-->
<!--    </h1>-->
<!--    <form action="/">-->
<!--        <button style = "position: absolute; right: 120px; top: 35px">-->
<!--            <basket>-->
<!--                Главная-->
<!--            </basket>-->
<!--        </button>-->
<!--    </form>-->
<!--    <form action="basket-page">-->
<!--        <button style = "position: absolute; right: 20px; top: 35px">-->
<!--            <basket>-->
<!--                Корзина-->
<!--            </basket>-->
<!--        </button>-->
<!--    </form>-->
<!--</div>-->

<div>
    <style>
        headers {
            display: flex;
            flex-direction: row;
            height: 100px;
            align-items: center;
        }
        header {
            padding: 10px;
            margin 10px;
        }
    </style>

    <headers>
        <header style="width: 500px">
            <h1>
                PiZza
            </h1>
        </header>

        <header style="color: white;">
            График работы: 12:00 - 18:00 <br>
            Тел.: 8-926-xxx-xx-xx
        </header>

        <header>
            <form action="/">
                <button>
                    <basket>
                        Главная
                    </basket>
                </button>
            </form>
        </header>

        <header>
            <form action="basket-page">
                <button>
                    <basket>
                        Корзина
                    </basket>
                </button>
            </form>
        </header>

    </headers>
</div>

