<div>
    <style>
        messegers{
             display: flex;
             flex-direction: row;
             justify-content: space-around;
        }

        messeger {
            width:  30px;
            height: 30px;
            margin: 10px;
        }

    </style>

    <messegers>
        <messeger>
<!--Vkontakte-->
            <center>
                <a href="https://vk.com/zahoge1999">
                    <img src="https://github.com/yodo-im/python_pizza/blob/main/messeger/2190386.png?raw=true"
                         width="30" height="30" alt="">
                </a>
            </center>
        </messeger>

        <messeger>
<!--Telegram-->
            <center>
                <a href="https://t.me/baby_bone99">
                    <img src="https://github.com/yodo-im/python_pizza/blob/main/messeger/2111667.png?raw=true"
                         width="30" height="30" alt="">
                </a>
            </center>
        </messeger>
<!--instagram-->
        <messeger>
            <center>
                <a href="https://t.me/baby_bone99">
                    <img src="https://github.com/yodo-im/python_pizza/blob/main/messeger/Instagram.png?raw=true"
                         width="30" height="30" alt="">
                </a>
            </center>
        </messeger>

    </messegers>
</div>