<div>
    <style>
        dough {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
        .heading {
            font-family: Open Sans;
            font-size: 20px;
            font-weight: bold;
            color: #00000;
        }
        .description {
            font-family: Open Sans;
            font-size: 12px;
            font-weight: 100;
            color: #757575;
        }
        button {
        font-size: 11pt;
        }
    </style>

    <dough>
<!--            Изображение-->
        <filling>
            <img src="{{ url }}"
                 width="200" height="200" alt="">
        </filling>
<!--            Название-->
        <filling>
            <center>
                <text class="heading" style="color: black; font-size: 14pt">
                    {{ name }}
                </text>
            </center>
        </filling>
<!--            Описание-->
        <filling style="font-size: 14pt; height: 50px;">
            <text class="description">
                {{ text }}
            </text>
        </filling>
<!--            Цена-->
        <filling>
            <center>
                <h7 style="font-size: 14pt;">
                    {{ price}} ₽
                </h7>
            </center>
            </filling>
<!--            Кнопка-->
        <filling>
            <button style="position: relative; left:65px;">
                Заказать
            </button>
        </filling>

        <filling>

        </filling>
    </dough>
</div>