<div>
    <style>
        corpus {
            display: flex;
            flex-direction: column;
        }
        parts {

        }
    </style>

    <corpus>
        <parts>

        </parts>

        <parts>

        </parts>
    </corpus>
</div>